header.main-header {
    background-color: #232323;
    padding: 20px 0 10px 0;
}

header.main-header > .container > .col-md-12 {
    margin-bottom: 10px;
}

footer.main-footer {
    background-color: #F7F7F7;
    padding: 20px 0;
}

.product-list .product-item {
    padding: 10px;
}

.product-list .product-item span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-list .product-item img {
    width: 100%;
    margin-bottom: 5px;
}

.product-list .product-item a,
.product-list .product-item a:visited,
.product-list .product-item a:hover,
.product-list .product-item a:focus {
    color: #232323;
    text-decoration: none;
}

.results-summary {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #ccc;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-photo-viewer a {
    position: absolute;
    padding: 10px;
    top: 50%;
    color: #232323;
}

.product-photo-viewer .wrapper {
    width: 100%;
    position: relative;
}

.product-photo-viewer a.previous {
    left: 0;
}

.product-photo-viewer a.next {
    right: 0;
}