{% extends "layout.html" %}

{% block content %}

    <div class="results-summary text-center">
        {{ products|length }} OF {{ total_items }} ITEMS
    </div>

    <div class="col-md-12 product-list">
        {% for product in products %}
            <div class="col-md-2 col-sm-4 col-xs-6 product-item">
                <a href="/product/{{ get(product, 'sku') }}">
                    <img src="{{ get(product.getImages().0, 'thumbnail') }}" />
                    <span><strong>{{ get(product, 'name') }}</strong></span>
                    <span class="text-muted">{{ get(product.getBrand(), 'name') }}</span>
                    <span>$ {{ get(product, 'price')|number_format(2, '.', ',') }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
