<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tech Test | THE ICONIC</title>

        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.3.3.6.min.css" />
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap-theme.3.3.6.min.css" />
    </head>
    <body>
        <header class="main-header">
            <div class="container">

                <!-- LOGO -->
                <div class="text-center col-md-12">
                    <a href="/"><img src="{{ app.request.basepath }}/img/iconic-logo.png" /></a>
                </div>

                <!-- SEARCH BOX -->
                <div class="col-md-12">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>

            </div>
        </header>

        <!-- PAGE BODY -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- FOOTER -->
        <footer class="main-footer">
            <div class="container text-center">
                &nbsp;
            </div>
        </footer>

        <script src="{{ app.request.basepath }}/js/jquery-2.2.3.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/js/jquery.extend.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/js/bootstrap.3.3.6.min.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
