{% extends "layout.html" %}

{% block content %}

    <div class="results-summary">
        {{ get(product, 'category_path') }}
    </div>

    <div class="col-md-5 col-xs-12 product-photo-viewer text-center pull-right">
        <div class="wrapper" id="photoViewer">
            {% if product.getImages()|length > 1 %}
                <a href="#" class="previous"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            {% endif %}
            <img src="{{ get(product.getImages().0, 'thumbnail') }}" width="100%" />
        </div>
    </div>

    <div class="col-md-7 col-xs-12 pull-left">
        <h3 class="product-name">{{ get(product, 'name') }}</h3>
        <span class="text-muted">{{ get(product.getBrand(), 'name') }}</span>
        <span class="pull-right"><strong>${{ get(product, 'price')|number_format(2, '.', ',') }}</strong></span>
        <hr>
        <p>{{ get(product, 'short_description')|raw }}</p>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $('#photoViewer').photoViewer('{{ jsonImages|raw }}')
        });
    </script>
{% endblock %}